body{
    background-image:url("https://image.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg") ;
    background-size:cover;
    background-position:center;
}
#MyCanvas{
    border-style: solid;
    background-color: white;
}